div {
  display: inline-block;
  width: 49%;
  height: 85vh;
  overflow-y: auto;
  padding: 10px 5px;
  border: 1px solid gray;
}
h2 {
  text-align: center;
  color: red;
}
.text_bold {
  font-weight: bold;
}
.text_color {
  color: green;
}
